<mat-toolbar color='primary'
             [class.mat-elevation-z18]="isActive">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item
                disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
    <span class="example-spacer"></span>
    <img class="example-logo"
         id="headerlogo"
         src="../../assets/128.ico"
         alt="Sci-Jet logo">
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
    @copyright 2018， SciJet Corp
    <br> All trademarks and rgitstered trademarks appearing on this site are the property
    of their respective owners
</footer>