<div class="example-container">
    <mat-toolbar color="primary"
                 class="example-toolbar">
        <button mat-icon-button
                (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img class="example-logo"
             src="../../assets/128.ico"
             alt="Sci-Jet logo">
        <h1 class="example-app-name">Shanghai Sci-Jet AI Tech Corporation</h1>
        <span class="example-spacer"></span>
        <div class="grid-container">
            <div class="item">todos</div>
            <div class="item">wang</div>
            <div class="item">login</div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav>
            <mat-nav-list>
                <a mat-list-item
                   routerLink="."
                   *ngFor="let nav of fillerNav">{{nav}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <footer>
        @copyright 2018， SciJet Corp
        <br> All trademarks and rgitstered trademarks appearing on this site are the
        property of their respective owners
    </footer>

</div>









<!-- <mat-toolbar color='primary'
             [class.mat-elevation-z18]="isActive">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item
                disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
    <span class="example-spacer"></span>
    <img class="example-logo"
         id="headerlogo"
         src="../../assets/128.ico"
         alt="Sci-Jet logo">
</mat-toolbar> -->

<!-- <router-outlet></router-outlet> -->